<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions"/>
	</configSections>
	<connectionStrings>
		<add name="Eliteria" connectionString="Server=YUDBET-LAPTOP;Database=Eliteria;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>