<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="Eliteria" connectionString="Server=ADMIN\SQLEXPRESS;Database=Eliteria;User Id=sa;Password=123456789;" providerName="System.Data.SqlClient"/>
		<add name="Eliteria" connectionString="Server=DESKTOP-C4MTO0T;Database=ELITERIA;User Id=sa;Password=thanhdancodoc.2703;" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />		
    </startup>
	<connectionStrings>
		<add name="Eliteria" connectionString="Server=DESKTOP-C4MTO0T;Database=ELITERIA;User Id=sa;Password=thanhdancodoc.2703;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>