<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />		
    </startup>
	<appSettings>
		<add key="API" value="https://localhost:44377/" />
		
	</appSettings>
	<connectionStrings>
		<add name="Eliteria" connectionString="Server=ANDREWANHTRAN;Database=ELITERIA;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>